.screen {
  position: relative;
  font-family: monospace;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  border: 4px solid gray;
  border-radius: 10px;
  margin: 20px 0;
  color: rgb(49, 148, 49);
  padding: 30px;
}

.abortLink {
  position: absolute;
  right: 0;
  bottom: 100px;
  padding: 20px;
  background-color: gray;
  border-radius: 4px 0 0 4px;
}
