$highest-z-index: 10;

.screen {
  position: relative;
  font-family: monospace;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  border: 4px solid gray;
  border-radius: 10px;
  margin: 20px 0;
  color: rgb(49, 148, 49);
  padding: 30px;
}

.waitScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $highest-z-index;

  &:before {
    display: block;
    content: 'Please wait';
    color: #fff;
    font-size: 14px;
  }
}

.abortLink {
  position: absolute;
  right: 0;
  bottom: 100px;
  padding: 20px;
  background-color: gray;
  border-radius: 4px 0 0 4px;
}
