@import '../../theme/variables';

body {
  background-color: $color-dark-gray;
  font-family: 'Helvetica-Light', Helvetica, Arial, sans-serif;
}

.App {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
  color: $color-white;

  .header {
    overflow: auto;
    padding: 15px;
  }
}
